<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div class="container" id="index">
    <h1>Burton's Music Emporium </h1>
    <div class="albums">
         <% albums.forEach( album => { %>
         <div class="card">
           <h5> <%= album.title %></h5>
           <h5> <%= album.artist %></h5>
           <a href="/albums/<%=album.id%>">
             <img src="<%= album.img %>" alt="An image of <%= album.name %>" /></a>
             <h6>Price: $<%=album.price %></h6>
         </div>
       <% }) %>
     </div>
     </div>
     <nav>
         <a href="/albums/new">Add a New Album</a>
     </nav>
  </body>
</html>
