<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1> Chosen Album </h1>
  <%=album.img %>
  <ul>
  Title: <%=album.title%> <br/>
  Artist: <%=album.artist%> <br/>
  Genre: <%=album.genre%> <br/>
  Year: <%=album.year%> <br/>
  Price: $<%=album.price%> <br/>
  Quantity: <%=album.quantity%> Units <br/>
</ul>
  </body>
</html>
